.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
} 

 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

 ul li {
  list-style: none;
  margin-left: 20px;
  
}

 ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fafafa;
  border-radius: 20px;
}

 ul li a:hover,
 ul li a.active {
  background: rgb(255, 255, 255) ;
  color: rgb(0, 0, 0);
  
}

section  {
  
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section img#moon{
  mix-blend-mode: screen;
  position: fixed;
  z-index: 1;
  
}


section img#mtf{
  z-index: 99;
}
section img#mtf1{
  
}
section img#RKR{
  z-index: 10;
  position: absolute;
  width: 100%;
}




/* 
 <section>
      <img src="../assets/star.png" id="stars" class="layer" data-speed="-15">
      <img src="../assets/moon.png" id="moon" class="layer" data-speed="-9">

      <img src="../assets/mtb.png" id="mtb" class="layer" data-speed="-3">

      <h2 class="text1" id="text"></h2>
      <img src="../assets/mtf.png" id="mtf" class="layer" data-speed="5">
      
    </section>  */